<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">            
            <div class="card">        
                <br>        
                <h5 class="card-title">Acerca del CIDHUM</h5>
                <div class="card-body" style="text-align:justify">
                <p class="card-text">El Centro de Investigaciones en Desarrollo Humano (CIDHUM) fue creado el 26 de marzo de 1996, y en sus 25 años de fundado participó 
                    en dos convocatorias de Reconocimiento de Centros realizadas por Colciencias en 1996 y 2000 quedó seleccionado como uno de los 13 centros de 
                    excelencia de Colombia. en el año 2019, fue reconocido como centro de investigaciones del Sistema Nacional de Ciencia, Tecnología e Innovación 
                    por el Ministerio de Ciencia, Tecnología e Innovación bajo la resolución No.  0582 de 2019. Reconocimiento que fue renovado bajo la resolución 
                    1613 hasta el año 2027.</p> <br>
                <p class="card-text">El conocimiento científico generado por el Centro de Investigaciones en Desarrollo Humano ha tenido un alto impacto social; 
                    los trabajos más destacables han sido las contribuciones en infancia e intervenciones en desastres climáticos. Las investigaciones sobre la 
                    infancia en contextos adversos desde el año 1977 fueron unos de los más importantes elementos técnicos que permitieron al país, mediante el 
                    Instituto Colombiano de Bienestar Familiar (ICBF), generar el programa de Hogares comunitarios de bienestar. Este programa, en cuatro años, 
                    permitió al Gobierno nacional ampliar la cobertura de atención integral a niñas y niños de 200 mil a 800 mil niños en condiciones de vulnerabilidad. 
                    Posteriormente, en el año 2011 el Centro fue contratado por el Ministerio de Protección Social junto a la Sociedad Colombiana de Pediatría para 
                    elaborar los aspectos técnicos de la política nacional a la niñez de Cero a Siempre.</p> <br>
                <p class="card-text">Por otro lado, el Centro ha desarrollado proyectos de I+D en otras actividades de desarrollo humano con varias instituciones 
                    internacionales; dentro de ellas es importante destacar el Fondo Climate & Development Knowledge Network (CDKN) del Reino Unido en el campo de 
                    resiliencia y cambio climático, proyectos de colaboración con United Nations Educational, Scientific and Cultural Organization (UNESCO), United 
                    Nations International Children's Emergency Fund (UNICEF), U.S. Agency for International Development (USAID), y ocupa la vicepresidencia de la RED
                    REDFORD realizando investigaciones en conjunto con 11 universidades de Latinoamérica y Europa.</p> <br>
                <p class="card-text">El Centro, ante la comunidad científica, puede mostrar de manera significativa los productos derivados de la investigación que 
                    conducen a la divulgación y confrontación de nuevos conocimientos. Su producción de generación de conocimiento alcanza 115 artículos, 112 capítulos 
                    de libros y 40 libros (producción en el periodo 2018 al 2021), muchos de ellos con alto nivel de citaciones. </p>
                <p class="card-text">Por otro lado, hemos sido parte activa de la política de la Universidad del Norte para la formación de jóvenes investigadores y, 
                    como puede verse en el documento, nos acompañan en los procesos de investigación alumnos de maestrías y doctorados. Es importante señalar que de los 
                    tres doctorados adscritos al Centro se han graduado 70 estudiantes que están contribuyendo al desarrollo del sistema científico de la región caribe 
                    colombiana.</p>
                <p class="card-text">El objetivo general del Centro de Investigaciones en Desarrollo Humano es contribuir al compromiso de la universidad, con la excelencia 
                    en las actividades de generación de conocimiento, con el fin de posicionarse como referente de investigación a nivel regional, nacional e internacional.</p>                
                </div>
            </div>
            <br>
            <div class="card">        
                <br>        
                <h5 class="card-title">Objetivos específicos</h5>
                <div class="card-body" style="text-align:justify">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

