<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">            
            <div class="card">        
                <br>        
                <h5 class="card-title">Visión</h5>
                <div class="card-body" style="text-align:justify">
                <p class="card-text">Consecuente con la visión de la Universidad del Norte, el Centro de Investigaciones en Desarrollo Humano aspira a consolidarse 
                    como un referente en investigación inter y multidisciplinar que contribuya al conocimiento y al desarrollo de una sociedad inclusiva, mediante la 
                    investigación y el fomento de las actividades I+D.</p>
                </div>
            </div>
        </div>
    </div>
</div>
