<div class="container-fluid text-center">
    <div class="d-flex row justify-content-center">
        <div class="col-sm-8">            
            <a> El Centro de Investigaciones en Desarrollo Humano tiene como misión fomentar la investigación en el campo del desarrollo humano mediante 
                el impulso de la actividad científica, a través de sus grupos de investigaciones, incentivando las pasantías de formación doctoral y creando 
                los mecanismos para la divulgación del quehacer científico de la Universidad del Norte. </a> 
        </div>
    </div>
</div>