<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">   
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th>Nombre</th>
                    <th>Título</th>
                    <th>Escalafonamiento</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                        <p class="fw-bold mb-1" style="text-align:center">José Juan Amar Amar</p>
                        </div>
                    </div>
                    </td>
                    <td>
                    <p class="fw-normal mb-1">PhD. En Philosophy in Counseling Psychology - Director del Centro de Investigaciones en Desarrollo Humano</p>
                    </td>
                    <td>
                    <span class="badge badge-success rounded-pill d-inline">Investigador Emérito</span>
                    </td>
                    <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded"> Editar </button>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                        <p class="fw-bold mb-1">Alberto Mario de Castro Correa</p>
                        </div>
                    </div>
                    </td>
                    <td>
                    <p class="fw-normal mb-1" >PhD. En Psicología Clínica - Director Administrativo</p>
                    </td>
                    <td>
                    <span class="badge badge-primary rounded-pill d-inline"
                            >Investigador Sénior (IS)</span>
                    </td>
                    <td>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Editar </button>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                        <p class="fw-bold mb-1">Jeremías Andrés Aragón Barceló </p>
                        </div>
                    </div>
                    </td>
                    <td>
                    <p class="fw-normal mb-1">Psicólogo- Estudiante de Sociología</p>
                    </td>
                    <td>
                    <span class="badge badge-warning rounded-pill d-inline">Asistente de investigación</span>
                    </td>
                    <td>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Editar </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>