<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">            
            <div class="card">      
                <br>          
                <h5 class="card-title">Grupo de Investigaciones en Desarrollo Humano</h5>                
                <h6 class="card-subtitle mb-2 text-muted">GIDHUM</h6>
                <div class="card-body" style="text-align:justify">
                <p class="card-text">Tiene 29 años de existencia y de experiencia. En la primera convocatoria, en 1996, por su escalafón de excelencia, 
                    recibió apoyo para su fortalecimiento por parte de Colciencias. En el año 2000 fue escalafonado por Colciencias en la categoría “A1” de excelencia,
                    en la que ha permanecido hasta ahora. Ha recibido durante 35 años apoyo técnico y financiero de la Fundación Bernard van Leer de Holanda, y de la 
                    Red Van Leer sobre Infancia y Pobreza. Dentro de los reconocimientos científicos de este grupo están el Premio Nacional al Mérito Científico en la 
                    calidad de Investigador de Excelencia, otorgado por la Asociación Colombiana para el Avance de la Ciencias – ACAC, que es el organismo más importante
                    de la ciencia en Colombia, en el año 2013; el Premio Nacional de Psicología año 1998; el Premio Nacional de Ciencias del Comportamiento, 2003, 
                    otorgado por el Colegio Nacional de Psicólogos de Colombia, la Universidad Nacional y la Universidad de los Andes en Colombia, y el Premio de la 
                    OEA por la dirección de uno de los tres proyectos educativos dirigidos a los niños más innovador en la región, el premio Nacional de Psicología y 
                    el premio Marta Arango.</p>
                <br>
                <a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000008081" target="_blank">GIDHUM</a>
                </div>
            </div>
        </div>
    </div>
</div>