<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">            
            <div class="card">      
                <br>          
                <h5 class="card-title">Grupo PBX de Investigación en Comunicación, Cultura y Cambio Social</h5>
                <div class="card-body" style="text-align:justify">
                <p class="card-text">Se encuentra reconocido y catalogado por Colciencias en A1. El grupo articula y reúne proyectos e investigaciones en el área 
                    de comunicación, y sustenta la actividad de la Maestría y el Doctorado en Comunicación que ofrece la Universidad del Norte. Cuenta con una vasta
                    producción intelectual, tanto en términos de libros como de artículos científicos en revistas de alto impacto indexadas en ISI y Scopus. Esta 
                    producción intelectual está vinculada a diversos proyectos que han sido financiados por organismos nacionales, tales como: Colciencias, Ministerio 
                    de Protección Social, Gobernación del Atlántico, y organismos internacionales: Clacso, OMS, PMA, Marie Curie Actions, Open Society Fundation, entre 
                    otros.</p>
                <p class="card-text">Además el grupo cuenta con la Revista Investigación & Desarrollo: revista indexada en Publindex, Index Copernicus, DOAJ, 
                    Academic Search Premier, EBSCO, Latindex, REDIB,  Dialnet, Google Scholar. Los encargados de su edición son los grupos de investigación: 
                    PBX Grupo de Investigación en Comunicación, Cultura y Cambio Social; y el Grupo de Investigaciones en Desarrollo Humano (GIDHUM).</p>
                </div>
                <br>
                <a href="https://www.uninorte.edu.co/web/pbx" target="_blank">GPBX</a>                
            </div>
        </div>
    </div>
</div>