<nav class="navbar navbar-light bg-light">     
    <div class="navbar-collapse collapse show" id="navbar">
        <ul class="navbar-nav text-right">              
            <div class="nav-item">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" [routerLink]="['/login']">
                    Iniciar Sesión <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" width="25" height="25" alt="User" title="User">
                </a>
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-light bg-light">     
    <div class="navbar-collapse  collapse show" id="navbar">
        <ul class="navbar-nav text-center">              
            <li class="nav-item ">
                <a class="nav-link h5" href="#" id="navbarLight" role="button" aria-haspopup="true" aria-expanded="false">
                    CENTRO DE INVESTIGACIONES EN DESARROLLO HUMANO
                </a>
            </li>
        </ul>        
    </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark">     
    <div class="navbar-collapse justify-content-center collapse show" id="navbar">
        <ul class="navbar-nav text-center">
            <li class="nav-item dropdown">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acerca del CIDHUM
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">                            
                            <a class="dropdown-item" [routerLink]="['/about']">CIDHUM</a>
                            <a class="dropdown-item" [routerLink]="['/mision']">Misión</a>
                            <a class="dropdown-item" [routerLink]="['/vision']">Visión</a>
                            <a class="dropdown-item" [routerLink]="['/miembros']">Miembros</a>
                            <a class="dropdown-item" [routerLink]="['/contacto']">Contacto</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Grupos de Investigación
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/gidhum']">Grupo CIDHUM</a>
                        <a class="dropdown-item" [routerLink]="['/gpsicologia']">Grupo de Psicología</a>
                        <a class="dropdown-item" [routerLink]="['/gpbx']">Grupo de PBX</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Impacto Social
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/perfilAdd']">Proyectos Vigentes</a>
                        <a class="dropdown-item" [routerLink]="['/perfilList']">Desarrollados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Biblioteca
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/formularioAdd']">Libros</a>
                        <a class="dropdown-item" [routerLink]="['/formularioList']">Artículos</a>
                        <a class="dropdown-item" [routerLink]="['/formularioList']">Instrumentos</a>
                        <a class="dropdown-item" [routerLink]="['/formularioList']">Blog</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

            <!-- Right elements
            <div class="my-4 my-lg-0">
                <div class="nav-item">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Iniciar Sesión <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" width="25" height="25" alt="User" title="User">
                    </a>
                </div>
            </div>
            -->
    </div>
</nav>
<br>