<app-header></app-header>
<div class="container-fluid text-center">    
    <div class="d-flex row justify-content-center">
        <div class="col-sm-6">            
            <div class="card">      
                <br>          
                <h5 class="card-title">Grupo de Investigación en Psicología</h5>
                <div class="card-body" style="text-align:justify">
                <p class="card-text">Formado desde el año 1996, que se encuentra escalafonado por Colciencias en A1. Este grupo se visiona como un núcleo de 
                    generación de conocimiento en el área de psicología vinculado a redes internacionales de investigación, produciendo artículos, libros científicos,
                    formando investigadores en psicología y educación, y desarrollando una amplia socialización del conocimiento llegando con tecnologías apropiadas 
                    a diversos sectores de la población que enfrentan desafíos en todas las dimensiones del desarrollo del ser humano. Este grupo tiene como 
                    investigador al presidente de la Asociación Colombiana de Neuropsicología y el premio nacional Otto de Greiff; así mismo, otro de nuestros
                    investigadores obtuvo el mismo premio a la mejor tesis de pregrado en Colombia.</p> <br>
                <p class="card-text">Este grupo de investigación cuenta con la Revista Psicología desde el Caribe: (Revista indexada SCIELO, Redalyc, PSICOL, Pepsic:
                    Periódicos Electrónicos en Psicología, EBSCO, Latindex, Publindex). En esta revista los principales encargados operativos de su edición son el 
                    grupo de investigación en psicología; y el Grupo de Investigaciones en Desarrollo Humano (GIDHUM).</p>
                </div>
            </div>
        </div>
    </div>
</div>